:host {
  .mat-mdc-cell {
    padding: 0!important;
  }

  .mat-mdc-header-cell {
    width: 80px;
    max-width: 100px;
  }

  .month-table-header {
    text-align: right;
  }

  .year-table-header {
    text-align: left;
  }

  .not-current-month-cell {
    background-color: #f3f3f3;
  }

  .calendar-cell {
    cursor: pointer;
  }

  .calendar-cell:hover {
    background-color: #fafafa;
  }

  .year-table {
    td {
      border-right: 2px solid #d9d9d9;
      border-bottom: 1px solid #f1f1f1;
    }

    tr {
      height: 30px;
    }
  }
}
