<div class="calendar-header">
  <app-month-picker class="picker" *ngIf="_monthView" (dateChange)="dateChange($event)"></app-month-picker>
  <app-year-picker class="picker" *ngIf="!_monthView" (dateChange)="dateChange($event)"></app-year-picker>
  <mat-button-toggle-group class="toggle" name="month-year" aria-label="Month or Year">
    <mat-button-toggle [checked]="_monthView" (change)="onViewToggle(true)" value="month">Month</mat-button-toggle>
    <mat-button-toggle [checked]="!_monthView" (change)="onViewToggle(false)" value="year">Year</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<table *ngIf="_monthView" mat-table [fixedLayout]=true [dataSource]="monthData" class="mat-elevation-z4">
  <ng-container *ngFor="let day of days" [matColumnDef]="day">
    <th mat-header-cell class="month-table-header" *matHeaderCellDef> {{ day | slice:0:3 | uppercase }} </th>
    <td class="calendar-cell"
        [ngClass]="{'not-current-month-cell': !element[day].isCurrentMonth, 'public-holiday': element[day].publicHoliday}"
        mat-cell *matCellDef="let element">
      <app-month-item [params]="element[day]"></app-month-item>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="monthDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: monthDisplayedColumns;"></tr>
</table>
<table *ngIf="!_monthView" mat-table [fixedLayout]=true [dataSource]="yearData" class="mat-elevation-z4 year-table">
  <ng-container *ngFor="let month of months" [matColumnDef]="month">
    <th mat-header-cell class="year-table-header" *matHeaderCellDef> {{ month | slice:0:3 | uppercase }} </th>
    <td class="calendar-cell" mat-cell *matCellDef="let element">
      <app-year-item [ngClass]="{today: element[month].today, 'public-holiday': element[month].publicHoliday}" *ngIf="element[month] !== undefined"
                     [params]="element[month]"></app-year-item>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="yearDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: yearDisplayedColumns;"></tr>
</table>
<app-calendar-legend [colors]="colors" [legends]="legends"></app-calendar-legend>
