:host {
  display: flex;
  flex-direction: row;

  .day {
    padding: 0 10px;
    color: gray;
    font-size: 11px;
    width: 50px;
    .day-number {
      font-weight: bold;
    }
  }

  .today {
    background-color: rgba(255, 0, 0, 0.2);
  }

  .holidays {
    width: 30px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
  }

  .events {
    display: flex;
    justify-content: end;
    flex-direction: row;
  }




}
